<?xml version="1.0"?>

<model>
  <name>Mossy Bark</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Milekium</name>
    <email>milekium@protonmail.com</email>
  </author>

  <description>
     A static model cylinder with mossy bark texture.
  </description>
</model>

