<?xml version="1.0"?>

<model>
  <name>Groud Rock</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Milekium</name>
    <email>milekium@protonmail.com</email>
  </author>

  <description>
     A static model box with ground rock texture.
  </description>
</model>

