<?xml version="1.0"?>

<model>
  <name>Groud Rock22</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Milekium</name>
    <email>milekium@protonmail.com</email>
  </author>

  <description>
     A static model box with ground rock and sand texture.
  </description>
</model>

